.App {
  border: 3px red solid;
}

.header {
  border: 3px orange solid;
  height: 200px;
  display: flex;
}

.box.login-container {
  align-self: flex-end;
}

.login {
  border: 3px gold solid;
}

.footer {
  border: 3px purple solid;
  height: 200px;
  display: flex;
}

.box {
  flex: 1;
}

.credit-card-application {
  border: 3px hotpink solid;
}

.button {
  background-color: green;
  font-weight: bold;
  color: white;
}

.main-content {
  background-color: #eee;
  border: 1px silver dashed;
  padding: 40px;
}

.color-box {
  display: inline-block;
  width: 40px;
  height: 40px;
}