.App {
  text-align: center;
  border: 3px red solid;
}

.header {
  border: 3px orange solid;
  height: 200px;
  display: flex;
}

.box.login-container {
  align-self: flex-end;
}

.login {
  border: 3px gold solid;
}

.footer {
  border: 3px purple solid;
  height: 200px;
  display: flex;
}

.box {
  flex: 1;
}

.credit-card-application {
  border: 3px hotpink solid;
}

.button {
  background-color: green;
}

.main-content {
  height: 400px;
  background-color: #eee;
  justify-content: center;
  align-items: center;
  border: 1px silver dashed;
}